ZEN PYTHON

In [ ]:
#we dont need to put any number ,... the code will populate the number itself 
a = [1,2,3,4]

LIST COMPREHENSION

In [2]:
a=[1,2,3]

In [3]:
a.append(4)

In [4]:
a

[1, 2, 3, 4]

In [5]:
b = []

In [6]:
b

[]

In [7]:
for i in range (1,10):
    print (i)
    b.append(i)

1
2
3
4
5
6
7
8
9

In [8]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a

[1, 2, 3, 4]

In [10]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# to find even and odd 
odd = []
even = []

In [13]:
for i in b:
    if i % 2 == 0:
        print(i)
        even.append(i)
    else:
        print(i)
        odd.append(i)

1
2
3
4
5
6
7
8
9

In [14]:
odd

[1, 3, 5, 7, 9]

In [15]:
even

[2, 4, 6, 8]

INSERT in list comprehension

In [16]:
#allow us to add some element in middle of the list
b.insert(2,22)

In [17]:
b

[1, 2, 22, 3, 4, 5, 6, 7, 8, 9]

FUNCTIONS

In [25]:
#used to keep the code clean and tidy to the modular of the code 
# group of codes which is assigned to do 2/3 tasks
def calculate ():
    a = 2
    b = 3
    c = a + b
    print(c)
# we did not call the code so it does not give us output

In [26]:
calculate()#to call the code , if we wont call , it wont print any output

5

In [27]:
calculate() + 20 # nonetype means

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [35]:
# whenever ans is not given , we need to use return to call
def calculate_1():
    a = 2
    b = 3
    c = a + b
    return(c)

In [36]:
calculate_1()

5

In [38]:
calculate_1() + 20

25

In [1]:
# in large amount of dataset , to fetch a particular data we can use (control + f) to find a particular data

In [51]:
def calculate_1(a,b=10):
    c = a + b
    print(c)

In [52]:
calculate_1(10,20)

30

In [50]:
calculate_1(4)

14

GLOBAL VARIABLE AND LOCAL VARIABLE

In [ ]:

# global variable: whenevere a variable is declared outside the function 
# local variable : variable declare only inside functions

In [55]:
g = 20
def calculate_1():
    a = 2
    j = 2
    print(a)
    print(g)
    print(j)

In [56]:
calculate_1()

2
20
2

In [57]:
print(g)

20

In [58]:
print(j)

NameError: name 'j' is not defined

LAMBDA FUNCTION  which are called as anonymous fuctions (unnamed/unknown functions), alive only for shorter duration
whenever func is to do smaller functions we can declare this , it will live for only for shorter duration

In [60]:
def calculate_1():
    a = 2
    b = 3
    c = a + b
    return(c)

In [61]:
calculate_1()

5

In [62]:
n = lambda a,b: a+b

In [63]:
n(2,4)

6

In [ ]:
# assignment: use the lambda to check even or odd

In [2]:
data = [1,2,3,4,5]
new_data = []
for num in data :
    new_mark = num+1
    new_data.append(new_mark)
new_data

[2, 3, 4, 5, 6]

In [1]:
# write a function that can ask a user  to write salary, tax based on that compute
# write a tax in rs to be paid by the users 
def money():
    salary=int(input('enter:'))
    tax = int(input('enter:'))
    total = salary*tax/100
    return total
money()

enter: 1090
enter: 300

3270.0

In [6]:
# write a function that can ask a user  to write salary, tax based on that compute
# write a tax in rs to be paid by the users 
def money():
    salary=float(input('enter:'))
    tax = float(input('enter:'))
    total = salary*tax/100
    return total
money()

enter: 1000.2
enter: 10

100.02

In [13]:
def mutual_fund():
    p= float(input('enter:'))
    r= float(input('enter:'))
    n= float(input('enter:'))
    value=p + p *(1 + r/100)**n
mutual_fund()

enter: 109.43
enter: 998.43
enter: 876.4

OverflowError: (34, 'Result too large')

In [15]:
def mutual_fund():
    p= float(input('enter:'))
    r= float(input('enter:'))
    n= float(input('enter:'))
    value=p + p *(1 + r/100)**n
    return value
mutual_fund()

enter: 21.2
enter: 23.4
enter: 2.2

54.868922057660555

In [16]:
import math
math.ceil(52.87)

53

In [17]:
import math
math.floar(2.32)

AttributeError: module 'math' has no attribute 'floar'

In [18]:
import math
math.ceil(2.001)

3

In [19]:
import math
math.floor(2.3)

2

In [21]:
import math
math.pow(2,3)

8.0

In [22]:
math.gcd(12,2)

2

In [23]:
math.gcd(250,3)

1

In [24]:
math.lcm(250,3)

750

In [26]:
math.pi

3.141592653589793

In [27]:
math.e

2.718281828459045

In [29]:
math.abs(-4)

AttributeError: module 'math' has no attribute 'abs'

In [30]:
abs(-2)

2

In [31]:
data = [2,3,4,5,6]
math.fsum(data)

20.0

In [32]:
n = lambda a,b: a+b

In [34]:
9

9

In [37]:
amount = lambda salary,tax_rate : salary*tax_rate / 100 
sal = float(input('enter:'))
tax_rate = float(input('enter:'))
amount (sal,tax_rate)

enter: 109
enter: 897

977.73

In [41]:
#to filter out data 
data= ['abu','biji','cjitl','dod','god','raqhu','ybuy','kjhhy']
list(filter(lambda name : name[0] == 'r',data))

['raqhu']

In [43]:
data= ['abu','biji','cjitl','dod','god','raqhu','ybuy','kjhhy']
list(filter(lambda name : name[-2] == 'r',data))

[]

In [45]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [46]:
import math
math.gcd(245,786)

1

In [3]:
#write a code eto take name, age , email as input from 5 candidates 
# use a for loop and add the data in the form of list of dictionary 

def salary():
for i in range (5):
    name = input("enter your name:")
    age = int(input("enter your age:"))
    email = input("enter your email:")
    data.append({'name':name,'age':age, 'email':email})
salary()

IndentationError: expected an indented block after function definition on line 4 (4050115770.py, line 5)

In [ ]:
# // -- floor
# int does not support append functions

In [2]:
#write a code eto take name, age , email as input from 5 candidates 
# use a for loop and add the data in the form of list of dictionary
data=[]
for i in range (5):
    name = input("enter your name:")
    age = int(input("enter your age:"))
    email = input("enter your email:")
    data.append({'name':name,'age':age, 'email':email})
data

enter your name: na
enter your age: 1
enter your email: nagu@mail
enter your name:
enter your age: 76
enter your email: nhygy
enter your name: naveen
enter your age: 28
enter your email: nagu@
enter your name: nagu
enter your age: 21
enter your email: naveen@
enter your name: kisoru
enter your age: 27
enter your email: @mail

[{'name': 'na', 'age': 1, 'email': 'nagu@mail'},
 {'name': '', 'age': 76, 'email': 'nhygy'},
 {'name': 'naveen', 'age': 28, 'email': 'nagu@'},
 {'name': 'nagu', 'age': 21, 'email': 'naveen@'},
 {'name': 'kisoru', 'age': 27, 'email': '@mail'}]