In [6]:
#while loop 
n = int(input("enter:"))

sum = 0

while n>=1:
    sum=sum+n
    n = n-1
sum

enter: 5

15

In [25]:
n = int(input("enter:"))
multiplication = 0
while n<=10:
    multiplication = multiplication + n
    n = n + 2
sum

enter: 7

15

In [ ]:
# fle handelling is not to store a data, it just takes input from users 
#Opening a File: open() function to op
#reading a file: reading from a file in Python include read(), readline(), and readlines().

#Writing to a File:  This can be done using the write() or writelines() methods in Python.

#Closing a File: In Python, you can use the close() method to close a file.

#Updating a File: modifying existing data within the file.

#File handling is essential for various tasks in programming, such as reading configuration files, processing data stored in files, logging information, and more. It allows programs to interact with the external storage medium (like a hard disk) to store and retrieve data efficiently.

#file can be created by writing, append, read
# when the file does not exist, we create and write; create and read the file
#the file exist and hold some data where we have created the content ; write new content ;
   #a)under writing file I'll erase the old content and start writing the new content
  #b) under append -- i'll take the content and start adding the new content at last
  #c) under read -- i'll open the file and read the data in a file 
#in file can start adding the new content where  top take the content and we start write from the last character
#open the file and read the data in file

In [12]:
#create a file
with open("my_file.txt",mode = "w+") as albu:
    albu.write("hello world")

In [2]:
data = Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest,the Bay of Bengal on the southeast, it shares land bordersPakistan to the west;China, Nepal,Bhutan to the northBangladesh anMyanmar to the eIndian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and In"
with open("my_file.txt",mode = "w+") as albu:
    albu.write(data)

SyntaxError: unterminated string literal (detected at line 1) (3610184683.py, line 1)

In [27]:
data = "India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous"
with open("my_file.txt",mode = "w+") as albu:
    albu.write(data)

In [16]:
with open("my_file.txt", mode = "a+") as albu:
    albu.write("\n\n\n")
    albu.write("hello")

In [17]:
with open("my_file.txt",mode ="r+") as albu:
    content = albu.read()
print(content)

India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous
hello


hello

In [19]:
#take 5 stu in the form of list of dictionaries and add the information about each stu in file 
#each stu data should present in 1 line 
for index in range(5):
    name = input("enter your name:")
    age = input("enter your age:")
    mail = input("enter your mail:")
    data = {'name':name, 'age' : age, 'mail':mail}
    with open("my_file.txt", mode = "a+") as albu:
        albu.write(str(data))
        albu.write("\n")

enter your name: nagu
enter your age: 24
enter your mail: nagu@gmail.com
enter your name: naveen
enter your age: 26
enter your mail: naveen@gmail.com
enter your name: suruthi
enter your age: 27
enter your mail: suruthi@gmail.com
enter your name: kisoru
enter your age: 28
enter your mail: kisoru@gmail.com
enter your name: papa
enter your age: 2
enter your mail: papa@gmail.com

In [22]:
import re

In [41]:

user_mail = "papa@gmail.com"
output = re.findall(r'\.',user_mail)
output

['.']

In [43]:
# to replace a particular charachter in the place of a specific charachter 
user_mail = "papa@gmail.com"
x = re.sub("@","gmail",user_mail)
x

'papagmailgmail.com'

In [47]:
# search for all digit in the given data       # to use all the digits in that data , we will use findall in the place of search
user_mail = "papa@gmail12345.com"
x = re.search('\d' , user_mail)
x

In [3]:
import re
user_mail = "mghg@mail.com"
x = re.search('g' , user_mail)
print(user_mail[x.start()])
print(user_mail[x.end()])

g
h

In [ ]:
# verify the given mail is valid or not
#no of charachters in username should be atleast 6
#there should be only 1 @ symbol
#user name should  start with  alphabate
#domain name should have only one dot "."

In [7]:
# to verify email is correct or not
import re
while True:
     mail = input("enter gmail:")
     a1 = re.findall('@', mail)
     a2 = re.search('@' , mail)
     a3 = mail[a2.end():]
     a4 = mail[:a2.start()]
     correct_mail = True 
     
     print(len(a1)!=1)
     if ((len(a1) != 1) and (len(a2) <= 6) and (not a2[0].isalpha()) and (len(re.findall(r'\.', a3)) != 1)):
         correct_mail = False
     if correct_mail:
         print("your mail is corrrect")
         break
     else:
         print("ur mail is incorrect:")

enter gmail: nagasuruthi@gmail.com

False
enter correct mail:

In [14]:
email = "nagasuruthi@gmail.com"
re.findall('@', email)

['@']

In [22]:
a[0]

'@'

In [16]:
a = re.search('@' , email)

In [17]:
a.end()

12

In [18]:
a.start()

11

In [19]:
test = 'nagasuruthi@gmail.com'

In [20]:
test[:11]

'nagasuruthi'

In [21]:
test[12:]

'gmail.com'

In [32]:
#to read a data line by line , we can use readlines()
with open("my_file.txt",mode ="r+") as albu:
    content = albu.readlines()
print(content)

["India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous"]

In [36]:
with open("my_file.txt",mode ="r+") as albu:
    content = albu.readlines()
print(content[0])

India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous

In [49]:
# to find the nummber of charachters present in start and in the end , we will use start(), end()
user_mail = "papa@gmail.com"
x= re.search("@",user_mail)
print(x.start())
print(x.end())

4
5

In [51]:

email[:x.start()]

'nagu'

In [54]:
email[:x.end()]

'nagu@'

In [55]:
email[x.end():]

'gamil.com'

In [ ]:
# to check whether the email is correct or not 
# verify the given mail is valid or not
#no of charachters in username should be atleast 6
#there should be only 1 @ symbol
#user name should not start with  alphabate
#domain name should have only one dot "."

#Pickling 
-->SAVE SPACE
-->LOAD DATA FAST
-->STORE AS BINARY FORMAT
-->STORE LARGE DATA IN SMALL FORMAT
-->GIVEN DATA ARE STORED AS BINARY FILE THROUGH BYTE STREAMS ARE CALLED AS SERIALIZATION --->TO STORE WE USE (DUMP)
-->TO COLLECT DATA WHICH WAS STORED IN BINARY FILE ,WE GO THROUGH BYTE STREAM FROM BINARY FILE CALLED AS DESERIALISATION.-->TO RETRIVE DATA--USE(LOAD)

In [ ]:
# pickling
data = {
    'name' : 'nagu'
    'age' :23
    'email' : 'nagu@gmail.com'}
with open("my_file.txt",mode = "w+") as albu:
    albu.write(data)

In [3]:
import pickle

In [4]:
#TO STORE THE DATA AS BINARY FILE , WE USE "wb"
data = {
    'name' : 'nagu',
    'age' : 23,
    'email' : 'nagu@gmail.com'
}
with open("pickling.pkl",'wb') as dt:
    pickle.dump(data,dt)

In [5]:
#TO READ THE DATA FROM THE BINARY FILE , WE USE "rb"
with open("pickling.pkl",'rb') as dt:
    content = pickle.load(dt)
print(content)

{'name': 'nagu', 'age': 23, 'email': 'nagu@gmail.com'}

In [7]:
output =[]
for index in range(5):
    name = input("enter your name:")
    age = input("enter your age:")
    mail = input("enter your mail:")
    output.append( {'name':name, 'age' : age, 'mail':mail})

enter your name: njmhyj
enter your age: 7
enter your mail: mnjhg@
enter your name: jhjyj
enter your age: 7
enter your mail: mjhj@
enter your name: jgjhygt
enter your age: 6
enter your mail: jhgj@
enter your name: hgfj
enter your age: 5
enter your mail: nghv@
enter your name: ght
enter your age: 6
enter your mail: hgfg@

In [8]:
with open('pickling.pkl', 'wb') as data:
    pickle.dump(output, data)

In [9]:
with open("pickling.pkl",'rb') as data:
    content = pickle.load(data)
print(content)

[{'name': 'njmhyj', 'age': '7', 'mail': 'mnjhg@'}, {'name': 'jhjyj', 'age': '7', 'mail': 'mjhj@'}, {'name': 'jgjhygt', 'age': '6', 'mail': 'jhgj@'}, {'name': 'hgfj', 'age': '5', 'mail': 'nghv@'}, {'name': 'ght', 'age': '6', 'mail': 'hgfg@'}]

In [10]:
import json

In [25]:
data = {
    "name" :" nagu",
   " age" :32,
    "mail" : "nagu@gmail"
}
with open("my_file.json","w+") as x:
    json.dump(data,x)
with open("my_file.json","r+") as x:
    content = json.load(x)
print(content)

{'name': ' nagu', ' age': 32, 'mail': 'nagu@gmail'}

In [26]:
with open("my_file.json","r+") as x:
    content = json.load(x)
print(content)

{'name': ' nagu', ' age': 32, 'mail': 'nagu@gmail'}

In [31]:
output =[]
for index in range(5):
    name = input("enter your name:")
    age = input("enter your age:")
    mail = input("enter your mail:")
    output.append( {'name':name, 'age' : age, 'mail':mail})
with open("my_file.json","w+") as x:
    json.dump(output,x)
with open("my_file.json","r+") as x:
    content = json.load(x)
print(content)

enter your name: nagu
enter your age: 9
enter your mail: .,mjhg
enter your name: hgyt
enter your age: 8
enter your mail: jhjyg
enter your name: 9
enter your age: ?mnfg
enter your mail: kjg
enter your name: 0
enter your age: jhjg
enter your mail: 6
enter your name: hjg
enter your age: 9
enter your mail: nhj

[{'name': 'nagu', 'age': '9', 'mail': '.,mjhg'}, {'name': 'hgyt', 'age': '8', 'mail': 'jhjyg'}, {'name': '9', 'age': '?mnfg', 'mail': 'kjg'}, {'name': '0', 'age': 'jhjg', 'mail': '6'}, {'name': 'hjg', 'age': '9', 'mail': 'nhj'}]

In [33]:
#classes
class Learners: #class is predefined charachter, its a keyword , cant change.. that charachter(Animal) should always start with caps
    batch = 'MD92'
    mentor = 'Poonam'
    course = 'DS'
    institute = 'guvi' #------ these are called as class variable

stu = Learners() #----() called constructor
stu1 = Learners()
stu2 = Learners()
print(stu1.batch, stu1.mentor, stu1.course, stu1.institute)
print(stu2.batch, stu2.mentor, stu2.course, stu2.institute)
print(stu.batch, stu.mentor, stu.course, stu.institute)

MD92 Poonam DS guvi
MD92 Poonam DS guvi
MD92 Poonam DS guvi

In [41]:
class Learners:
    batch = 'MD92'
    mentor = 'Poonam'
    course = 'DS'
    institute = 'guvi' #------ these are called as class variable
    def __init__(self): # self means the object under consideration , is the object that we create, __init__ is a predefined
                                                            # self is a constructor 
        self.name = input("enter your name:")
        self.email = input("enter your mail:")
        
stu = Learners() #---- () is a call constructor
stu1 = Learners()
stu2 = Learners()
print(stu1.batch, stu1.mentor, stu1.course, stu1.institute)
print(stu2.batch, stu2.mentor, stu2.course, stu2.institute)
print(stu.batch, stu.mentor, stu.course, stu.institute)

enter your name: nagu
enter your mail: nagu@gmail.com
enter your name: naveen
enter your mail: naveen@gmail.com
enter your name: kisoru
enter your mail: kisoru@gmail.com

MD92 Poonam DS guvi
MD92 Poonam DS guvi
MD92 Poonam DS guvi

In [38]:
class fruit:
    seed = 'true'
    def __init__(self):
        self.taste = input("enter:")
        self.name = input("enter name :")
        self.location = input("enter location:")
fru1 = fruit()
fru2 = fruit()
fru3 = fruit()
print(fru1.seed)
print(fru2.seed)
print(fru3.seed)

enter: sweet
enter name : mango
enter location: tn
enter: good
enter name : bri
enter location: mh
enter: nmjh
enter name : ngj
enter location: bjgj

true
true
true

In [40]:
class fruit:
    seed = True
    def __init__(self, taste,name, location):
        self.taste = taste
        self.name = name
        self.location = location
fru1 = fruit("sweet","mango","tn")
fru2 = fruit("bitter", "bitterguard", "nm")
fru1.__dict__

{'taste': 'sweet', 'name': 'mango', 'location': 'tn'}

In [47]:
class fruit:
    seed = True
    def __init__(self, taste,name, location):
        self.taste = taste
        self.name = name
        self.location = location
fru1 = fruit("sweet","mango","tn")
fru2 = fruit("bitter", "bitterguard", "nm")

print(fru1.seed)
print(fru2.seed)
print(fru1.taste)
print(fru2.taste)
print(fru1.name)
print(fru2.name)
print(fru1.location)
print(fru2.loacation)

True
True
sweet
bitter
mango
bitterguard
tn

AttributeError: 'fruit' object has no attribute 'loacation'

In [17]:
class Employee:
    company_name = "amazon"
    dedpartment = "ds"
    uniform = 'black'
    domain = "IT"
    def __init__(self, manager, salary):
        self.id = input("enter your id:")
        self.name = input("enter your name:")
        self.location = input("enter your location:")
        self.date_of_birth = input("enter your birth date:")
        self.manager = manager
        self.salary = salary
e1 = Employee("poonam",20000)
e2 = Employee("thillai",32000)


print( e1.manager, e1.salary)
print( e2.manager, e2.salary)

enter your id: 65
enter your name: nagu
enter your location: tn
enter your birth date: naveen
enter your id: 54
enter your name: naveen
enter your location: kr
enter your birth date: 12

poonam 20000
thillai 32000

In [18]:
class Employee:
    company_name = "amazon"
    dedpartment = "ds"
    uniform = 'black'
    domain = "IT"
    def __init__(self, manager, salary):
        self.id = input("enter your id:")
        self.name = input("enter your name:")
        self.location = input("enter your location:")
        self.date_of_birth = input("enter your birth date:")
        self.manager = manager
        self.salary = salary
e1 = Employee("poonam",20000)
e2 = Employee("thillai",32000)
e1.__dict__
e2.__dict__

enter your id: 21
enter your name: nagu
enter your location: tn
enter your birth date: 20
enter your id: 23
enter your name: naveen
enter your location: kr
enter your birth date: 23

{'id': '23',
 'name': 'naveen',
 'location': 'kr',
 'date_of_birth': '23',
 'manager': 'thillai',
 'salary': 32000}

In [34]:
class Employee:
    company_name = "amazon"
    department = "ds"
    uniform = 'black'
    domain = "IT"

    def __init__(self,name, manager, salary):
        self.id = input("enter your id:")
        self.name = name
        self.location = input("enter your location:")
        self.date_of_birth = input("enter your birth date:")
        self.manager = manager
        self.salary = salary

    def increment(self):
        self.n_salary = self.salary*1.00
        
    def bonus(self):
        if self.n_salary>=200000:
            self.bonus = 3000
        elif self.n_salary>=3000000:
            self.bonus = 4000
        elif self.n_salary >= 4000000:
            self.bonus = 2000
        else:
             self.bonus =1000

e1 = Employee("nagu","poonam",20000)
e2 = Employee("naveen","thillai",32000)
print(e1.name)
print(e2.name)
print(e1.__dict__)
e1.increment()
print(e2.__dict__)
print(e1.name)
e1.bonus()
print(e1.__dict__)

enter your id: 23
enter your location: tamilnadu
enter your birth date: 20
enter your id: 34
enter your location: kerala
enter your birth date: 12

nagu
naveen
{'id': '23', 'name': 'nagu', 'location': 'tamilnadu', 'date_of_birth': '20', 'manager': 'poonam', 'salary': 20000}
{'id': '34', 'name': 'naveen', 'location': 'kerala', 'date_of_birth': '12', 'manager': 'thillai', 'salary': 32000}
nagu
{'id': '23', 'name': 'nagu', 'location': 'tamilnadu', 'date_of_birth': '20', 'manager': 'poonam', 'salary': 20000, 'n_salary': 20000.0, 'bonus': 1000}

In [2]:
invest = [int(i) for i in input("enter num:").split()]
invest

enter num: 23 54 76 765 342

[23, 54, 76, 765, 342]

In [5]:
with open(r"my_text_file.text",mode="a+")as my_file:
    my_file.write("im nagu")

In [11]:
with open(r"my_text_file.text",mode="r+")as my_file:
    data = my_file.read()
data

'im nagu'

In [15]:
import pickle
data={
    "name" : "hg",
    "age" : 21
}

with open(r"pickle_text_file.text",mode="wb")as my_file:
    pickle.dump(data,my_file)

In [19]:
with open(r"pickle_text_file.text",mode="rb")as my_file:
    data = pickle.load(my_file)
data

{'name': 'hg', 'age': 21}

In [20]:
import pdb

In [ ]:
# here we used n to trace the next line 
# we used c which means complete, it will trace the data untill find the trace point

In [27]:
import pdb
name = input("enter number:")
pdb.set_trace()
sum = 0
for i in range(1,num+1):
    sum = sum+i
    pdb.set_trace()

enter number: 7

--Return--
None
> c:\users\green gen tech\appdata\local\temp\ipykernel_380\345846401.py(3)<module>()

ipdb>  sum

0

ipdb>  c

NameError: name 'num' is not defined

# CLASSES

# class is building a plan based on blueprint, plan, map, etc..by using single class we can build multiple functions

# --> class is predefined charachter and object is a user defined character like class has Buiding and object is stone, cement
# ==> attributes are variable that belongs to a class where it always public and we use it with dot operator(.) like building.stone

In [6]:
class Learners:   #--->predefined keyword
    Batch = "MD92"    #---> class level variable which can't be changed, remains same 
    contact = 9087 #---->class level variable which can't be changed, remains same 
stu1 = Learners() 
stu2 = Learners() 
print(stu1.Batch, stu1.contact) #---> to call directly from the class variables 
print(stu2.Batch, stu2.contact)

MD92 9087
MD92 9087

In [11]:
class Learners:   #--->predefined keyword
    Batch = "MD92"    #---> class level variable which can't be changed, remains same 
    contact = 9087 #---->class level variable which can't be changed, remains same 
    def __init__(self): # to call the object level variables , we need to create constructor(__init__), here we need not to call the any charachters 
        self.name= input("enter:") #its a object level variable
        self.email= input("enter:") #its a object level variable
stu1 = Learners()
stu2 = Learners()
print(stu1.Batch, stu1.contact, stu1.name, stu1.email)
print(stu2.Batch, stu2.contact, stu2.name, stu2.email)

enter: nagu
enter: nagu@gmail.com
enter: naveen
enter: naveen@gmail.com

MD92 9087 nagu nagu@gmail.com
MD92 9087 naveen naveen@gmail.com

In [17]:
class Fruits:
    seed = "true"
    def __init__(self,name,email):
        self.name = name
        self.email = email
a = Fruits("nagu","nagu@gmail.com")
b= Fruits("naveen","naveen@gmail.com")
print(a.seed, a.name, a.email)
print(b.seed, b.name, b.email)

true nagu nagu@gmail.com
true naveen naveen@gmail.com

In [18]:
class Fruits:
    seed = "true"
    def __init__(self):
        self.name = input()
        self.email = input()
a = Fruits()
b = Fruits()

 nagu
 nagu@gmail.com
 naveen
 naveen@gmail.com

In [20]:
a.__dict__

{'name': 'nagu', 'email': 'nagu@gmail.com'}